
<app-nab-bar></app-nab-bar>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col"> Name</th>
                        <th scope="col">Admission Number</th>
                        <th scope="col">Roll Number</th>
                        <th scope="col">College Name </th>
                       


                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let i of students">

                        <td>{{i.name}}</td>
                        <td>{{i.admNo}}</td>
                        <td>{{i.rollNo}}</td>
                        <td>{{i.collegeName}}</td>
                     

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>