<app-nab-bar></app-nab-bar>


    
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 div-md-12 col-lg-12 div-xl-12 div-xxl-12">
            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 class="text-dark" class="font-monospace" style="font-weight:bold">Add Student</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label text-dark">Name</label>
                    <input name="name" [(ngModel)]="name" type="text" placeholder="Enter employee name" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label text-dark">Admission Number</label>
                    <input name="admNo" [(ngModel)]="admNo" type="text" placeholder="Enter admission number" class="form-control">
                </div>
               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label text-dark">Roll Number</label>
                    <input name="rollNo" [(ngModel)]="rollNo" type="text" placeholder="Enter roll number" class="form-control">
                </div>
               
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label text-dark">College name</label>
                    <input name="collegeName" [(ngModel)]="collegeName" type="text" placeholder="Enter college name" class="form-control">
                </div>
           
              
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValue()" class="btn btn-danger font-monospace py-1">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>